@media print {
  body {
    background: white !important;
  }

  button,
  select,
  a {
    display: none !important;
  }

  main {
    min-block-size: auto !important;
    padding: 20px !important;
    background: white !important;
  }

  section,
  div {
    box-shadow: none !important;
  }

  * {
    color: black !important;
  }
}